*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head h1{
   color:rgba(7, 7, 7);
   font-size: 100px;
   text-align: center;
   margin-top: 200px;
}


.container{
    height:100%;
    width: 100%;
    background-image: url('image.jpg');
    background-size: cover;

}

.navbar{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: black;
    opacity: 1;
    }


li {
    list-style-type: none;
    display: inline-block;

    
}

.navbar a{
    float: left;
    text-decoration: none;
    color: white;
    padding: 40px;
    font-size: 17px;

}
.navbar a:hover {
    background-color: #333;
}

.active {
    background-color: #971515;
  }
  

.background {
    background-image: url('business-connection-contact-us-call-center-customer-service-concept-icon-mobile-phone-email-envelope-telephone-e-mail-address-hand-pushing-wooden-block-with-contact-us-symbol_256259-1516.webp');
    background-size: cover;
    width: auto;
    height: 600px;
}

.background h1 {
    color:rgb(19, 18, 18);
   font-size: 100px;
   text-align: center;
   font-family: cursive;
}

footer{
    color: white;
    background-color: black;
    opacity: 1;
    text-align: center;
    padding: 10px;
    margin: 300px 0px 0px;
}

.logo img
{
    width: 100px;
    display: flex;
    
}

.menu_back {
    background-image: url('1397765.webp');
    background-size: cover;
    width: auto;
    height: auto;
}


div.navbar {
    background-color: white;
    padding-left: 300px;
    height: 70px;
}

div.menu-head {
    color: white;
    text-align: center;
    padding: 50px;
}
div.menu-head p {
    padding: 50px;
}
.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px 250px; 
    gap: 20px;
    padding: 10px;
  }

  .grid-container > div {
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px ; */
    background-color: rgb(34, 33, 33);
   } 
   /* div.grid-container p::before {
    padding-top: 100px;
   } */