*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head h1{
   color:rgba(7, 7, 7);
   font-size: 100px;
   text-align: center;
   margin-top: 200px;
}


.container{
    /* height:auto;
    width: 100%; */
    background-image: url('./images/image.jpg');
    background-size: cover;
    /* top: 0; */
  

}

.navbar{
    display: flex;
    height: 60px;
    align-items: center;
    background-color: black;
    opacity: 1;
    position: fixed;
    top:0;
    width:100%
    }


.navbar a{
    float: left;
    text-decoration: none;
    color: white;
    padding: 20px 16px;
    font-size: 17px;
    text-align: center;

}
.navbar a:hover {
    background-color: #333;
}

.active {
    background-color: #971515;
  }
  

.background {
    background-image: url('./images/business-connection-contact-us-call-center-customer-service-concept-icon-mobile-phone-email-envelope-telephone-e-mail-address-hand-pushing-wooden-block-with-contact-us-symbol_256259-1516.webp');
    background-size: cover;
    width: auto;
    height: 100vh;
}

.background h1 {
    color:rgb(19, 18, 18);
   font-size: 100px;
   text-align: center;
   font-family: cursive;
   padding-top: 50px;
}

footer{
    color: white;
    background-color: black;
    opacity: 1;
    text-align: center;
    padding: 10px;
    margin: 300px 0px 0px;
}

.logo
{
    float: left;
    margin: 10px 15px;
    position: relative;
    
}

.menu_back {
    background-image: url('./images/1397765.webp');
    background-size: cover;
    width: auto;
    height: auto;
}

div.menu-navbar {

    display:inline-block;
    align-items: center;
    opacity: 1;
    width:100%;
    background-color: white;
    padding-left: 300px;
    height: 130px;
}
div.menu-navbar img {
    padding: auto;
    padding-top:18px;
}

div.menu-head {
    color: white;
    text-align: center;
    padding: 100px;
    padding-top: 30px;
}
div.menu-head p {
    padding: 50px;
}
.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px 250px; 
    gap: 20px;
    padding: 10px;
  }

  .grid-container > div {
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px ; */
    background-color: rgb(34, 33, 33);
   } 
   /* div.grid-container p::before {
    padding-top: 100px;
   } */